@font-face {
    font-family: 'Roboto Serif';
    src: url('RobotoSerif-Medium.woff2') format('woff2'),
        url('RobotoSerif-Medium.woff') format('woff'),
        url('RobotoSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('RobotoSerif-Light.woff2') format('woff2'),
        url('RobotoSerif-Light.woff') format('woff'),
        url('RobotoSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('RobotoSerif-Regular.woff2') format('woff2'),
        url('RobotoSerif-Regular.woff') format('woff'),
        url('RobotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('RobotoSerif-Bold.woff2') format('woff2'),
        url('RobotoSerif-Bold.woff') format('woff'),
        url('RobotoSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

